body {
    background-color: lightgray;
}
.pdm_link:hover{
    text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
.banner_img {
    width: 100%; 
    height: auto; 
}
.banner {
  position:relative;
}
.main_jumbotron {
  background-attachment: fixed;
  background-position: bottom; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-shadow-lg { 
  text-shadow: 5px 15px 19px #ccc,-5px 8px 16px #ccc;
}
.text-shadow-sm { 
  text-shadow: 5px 10px 19px #ccc,-5px 8px 10px #ccc;
}
.link:hover {
    cursor:pointer;
}